/* Contributors.css */

/* Global Styles */
/* html {
  scroll-behavior: smooth;
} */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Title Styles */


/* Contributors Grid */
.contributors-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}


.contributor-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}


.contributor-card {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 200px; /* or your desired width */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.contributor-card img {
  width: 100px; /* Adjust the size if needed */
  height: 100px; /* Adjust the size if needed */
  border-radius: 50%;
  border: 3px solid #f689f2; /* If you want a border */
  margin-bottom: 10px; /* Space below the image */
  object-fit: cover; /* Maintain aspect ratio */
}


/* Contributor Name and Contributions */
.contributor-card h2 {
  font-size: 1.25rem;
  color: #333;
  margin: 10px 0 5px;
}

.contributor-card p {
  color: #666;
}

/* Scroll to Top Button */
.top-btn {
  display: none;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f689f2;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.top-btn:hover {
  background-color: #d16bb0;
}

/* Toggle Switch */
.toggle {
  display: none; /* Hide the default checkbox */
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #333;
  color: #f5c0bb;
}

body.dark-mode .contributor-card {
  background: #444;
  color: #f5c0bb;
}

body.dark-mode .contributor-card h2,
body.dark-mode .contributor-card p {
  color: #f5c0bb;
}

body.dark-mode .top-btn {
  background-color: #f689f2;
   color: #fff;
}

body.dark-mode .top-btn:hover {
  background-color: #fcfbfc;
   color: #fff;
}
body.dark-mode h2.title {
  color: white !important; /* Without !important */
}
body.dark-mode title1 {
  color: white !important; /* Without !important */
}
.title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #a3a2a2; /* Default text color */
}

/* Dark Mode Styles */
body.dark-mode .title {
  color: white !important; /* Change title text color to white in dark mode */
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 10px;
  padding: 10px 15px;
  background-color: #f689f2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #8e8c8c;
  cursor: not-allowed;
}

.pagination span {
  align-self: center;
  margin: 0 10px;
  font-weight: bold;
}
