/* Contributors.css */

.contributors {
  width: 90%;
  margin: 0 auto;
  background: var(--seashell);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  max-width: 1200px;
}

.contributors h2 {
  color: var(--sonic-silver);
  text-align: center;
  margin-bottom: 20px;
}

.contributor-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contributor-member {
  color: var(--sonic-silver);
  text-align: center;
  background-color: var(--seashell);
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgb(240, 239, 239);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 250px;
  margin: 10px;
  flex: 1 1 calc(33.333% - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contributor-member:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgb(226, 206, 24);
}

.contributor-member img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.contributor-member h3 {
  font-size: 1rem;
  margin: 10px 0 5px;
}

.contributor-member p {
  font-size: 0.9rem;
  margin: 0;
}

.contributor-member button {
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 1.1rem;
  color: var(--sonic-silver);
  cursor: pointer;
  margin-top: 10px;
}

.contributor-member button:hover {
  background: orange;
  color: #fff;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  color: var(--old-rose);
  margin: 0 5px;
  padding: 10px 15px;
  background-color: transparent;
  cursor: pointer;
}

.pagination button.active {
  text-decoration: underline;
  font-size: large;
}
