/* Navbar.css */
.navbar {
    display: flex;
    justify-content: start; /* Center the links */
    align-items: start;
    background-color: #f9cff2; /* Darker background */
    padding: 0.7rem;
    position: fixed; /* Fix the navbar at the top */
    top: 0;
    left: 0;
    width: 100%; /* Stretch the navbar across the entire screen */
    z-index: 1000; /* Ensure it stays on top */
}

.navbar a {
  display: inline-block;
  padding: 0.5rem 0.9rem;
  color: #111344;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

.navbar a:hover {
  background-color: #eba6e6;
  border-radius: 8px;
}

.navbar a.active {
  color: #ffffff;
  border-bottom: 2px solid #61dafb;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    align-items: center;
    padding: 1rem;
  }

  .navbar a {
    padding: 0.7rem;
    font-size: 1.2rem;
    margin: 10px 0; 
  }
}

@media (max-width: 480px) {
  .navbar a {
    font-size: 1rem; 
    padding: 0.5rem; 
  }
}

  
  /* Add some margin to push content below the navbar */
  .body-content {
    margin-top: 80px; /* Adjust this based on the height of your navbar */
  }

  