/* Navbar Styles */
.navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 10;
  left: 0;
  width: 250px !important;
  height: 3000px !important;
  background-color: rgb(15, 83, 143) !important;

  transition: transform 0.3s ease;
  z-index: 1000;
}

.navbar.active {
  transform: translateX(0);

}

.navbar-links {
  display: flex;
  flex-direction: column;
  padding: 20px 0;

 

}

.navbar a {
  padding: 0.75rem 1rem;
  color: #111344;
  font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
  transition: background-color 0.3s ease;
  margin: 5px 0;

  
}

.navbar a:hover {
  color: rgb(16, 104, 180);
  border-radius: 8px;
}

.hamburger {
  display: none;
  
  flex-direction: column;
  cursor: pointer;
  margin: 20px;
  
}

.hamburger div {
  width: 30px;
  height: 3px;
  background-color: #111344;
  margin: 5px;
  transition: all 0.3s ease;
}


@media (max-width: 768px) {
  .navbar {
    transform: translateX(-100%);
   
  }

  .navbar.active {
    transform: translateX(0);
   
  }

  .hamburger {
    display: flex;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2000;
  }

  .navbar-links {
    display: flex;
  
  }
}


.body-content {
  margin-left: 250px;
 
  padding: 20px;
  
}