/* Navbar.css */
.navbar {
    display: flex;
    justify-content: center; /* Center the links */
    background-color: #0d1b2a; /* Darker background */
    padding: 0.7rem;
    position: fixed; /* Fix the navbar at the top */
    top: 0;
    left: 0;
    width: 100%; /* Stretch the navbar across the entire screen */
    z-index: 1000; /* Ensure it stays on top */
  }
  
  .navbar a {
    display: inline-block;
    padding: 0.5rem 0.9rem 0.5rem 0.9rem ;
    color: #fff; /* Light blue text */
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    margin: 0 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
  }
  
  .navbar a:hover {
    background-color: #669bbc; /* Slightly brighter on hover */
    border-radius: 8px;
  }
  
  .navbar a.active {
    color: #ffffff; /* White color for active link */
    border-bottom: 2px solid #61dafb;
  }
  
  /* Add some margin to push content below the navbar */
  .body-content {
    margin-top: 80px; /* Adjust this based on the height of your navbar */
  }

  