/* .body-content {
    margin-top: 80px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #dcd9f2;
    border: 2dvb solid #94dcad;
    height: 70vh;
  }
   */

