.body-content {
    margin-top: 80px; /* Space for the fixed navbar */
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #ecebf3;
    border: 2dvb solid #7f9cd6;
    height: 70vh;
  }
  

